@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-slate-50 text-slate-800 font-sans;
  min-height: 100vh;
}

/* Academic, calm aesthetic */
* {
  @apply border-slate-200;
}
